[submodule "submodules/cutil"]
	path = submodules/cutil
	url = https://github.com/mojyack/cutil.git
[submodule "submodules/cutil-macros"]
	path = submodules/cutil-macros
	url = https://github.com/mojyack/cutil-macros.git
[submodule "submodules/v4l2-wlctl"]
	path = submodules/v4l2-wlctl
	url = https://github.com/mojyack/v4l2-wlctl.git
